body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	transition: background-color 0.3s, color 0.3s;
}

.container {
	text-align: center;
	background-color: transparent;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	transition: background-color 0.3s, box-shadow 0.3s;
}

h1 {
	margin-bottom: 10px;
}

.warning {
	font-size: 0.9em;
	color: #ff0000;
	margin-bottom: 20px;
}

button {
	padding: 10px 10px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #0056b3;
}

.hidden {
	display: none;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
}

#user-info {
	text-align: left;
	margin: 10px 0;
}

#nationality-grid button {
	width: 80px;
	margin: 5px;
}

#action-buttons {
	margin-top: 20px;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
	z-index: 1000;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
}

footer a {
	margin: 0 15px;
	display: inline-block;
	color: black;
	transition: color 0.3s;
}

footer img {
	width: 30px;
	height: 30px;
	opacity: 0.7;
	transition: opacity 0.3s;
	color: black;
}

footer img:hover {
	opacity: 1;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked+.slider {
	background-color: #000;
}

input:checked+.slider:before {
	transform: translateX(26px);
}

/* Dark Theme */
body.dark-theme {
	background-color: #333;
	color: #fff;
}

body.dark-theme .container {
	background-color: #1e1f22;
}

body.dark-theme footer a {
	color: #white;
}

body.dark-theme .slider {
	background-color: #555;
}

body.dark-theme .slider:before {
	background-color: #ccc;
}